Supplementary_material_Chapter_3/Metacell_analyses/Spur_Paganos2021/spur/coclust.spur_coc1000.Rda filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Hvul_Siebert2019/hvul/mat.hvul.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Hvul_Siebert2019/hvul/mat.hvul_filt.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Hvul_Siebert2019/hvul/mat.hvul_noercc.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/Ozel_TableFile_CountsPerCell.tsv.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/mat.dmel_filt.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/mc.dmel_mc.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/cgraph.dmel_graph.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/coclust.dmel_coc500.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gset.Dmel_PRC_set.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gset.Dmel_ciliary_set.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gset.Dmel_ciliary_set_better.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/mat.dmel.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gset.Dmel_opsin_set.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gset.dmel_feats.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/mat.dmel_noercc.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/coclust.dmel_coc1000.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gset.Dmel_ciliary_set_best.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gset.dmel_markers.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/gstat.dmel.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/mc.dmel_mc_f.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/coclust.dmel_coc100.Rda.gz filter=lfs diff=lfs merge=lfs -text
Supplementary_material_Chapter_3/Metacell_analyses/Dmel_Ozel2020/dmel/mc2d.dmel_2dproj.Rda.gz filter=lfs diff=lfs merge=lfs -text
